.message {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 20px;

    &-text {
        color: white;
        font-size: 12px;
        grid-column: 2 / 4;
    }


    button {
        color: white;
        border: none;
        display: block;
        grid-column-start: 4;

        &:focus {
            outline: none;
        }

        &:hover {
            color: black;
        }
    }
    
}

.error {
    background-color: $error;
}

.success {
    background-color: $success;
}