$theme-primary-light:#80d6ff;
$theme-primary: #42a5f5;
$theme-primary-dark: #0077c2;

$theme-secondary-light: #ff6090;
$theme-secondary: #e91e63;
$theme-secondary-dark: #b0003a;

$error: #e57373;
$success: #81c784;
